html > body { 
    background: url(img/loz4.png) fixed;   /*para deixar o bg fixado*/
    background-size: 85%;
    -moz-background-size: 90%;
    -o-background-size: 90;    
    background-color: white;    
    background-repeat: repeat-x;
}

.titulo1 {
    font-weight: bold;
    color: rgb(58, 57, 57);      
}

.titulo2 {    
    color: rgb(58, 57, 57);   
}

.titulo3 {
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.8) !important;  /*opacidade do corpo da tabela*/
    border-radius: 10px;
}

.table {    
    border-radius: 10px;
    margin-top: 1%;
    font-weight: bold;    
    color: black;
    text-align: center;
}

.texto {
    background-color: rgb(255, 255, 255, 0.8) !important;  /*opacidade do corpo da tabela*/
}

.imagemLateral {
    background-image: url(img/tri8.jpg);    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 490px;
    font-weight: bold;
}

.NovoContato {
    background-image: url(img/tri8.jpg) ;
    background-size: 600px;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}

.editarContato {
    color: white;
    text-align: center;
}

.botaoEditar {
    border-radius: 10px; 
    background-color: #228B22; 
    color: white; 
    border: none; 
    width: 45px; 
    height: 30px;
    
}

.botaoExcluir {
    border-radius: 10px; 
    background-color: rgb(202, 17, 17); 
    color: white; 
    border: none; 
    width: 45px; 
    height: 30px;
}

.container {
    overflow-y: scroll; 
}